 @charset "UTF-8";

 /*Alert 디자인*/
 .modal .btn {
 	cursor: pointer;
 	border: 1px solid #999999;
 	text-align: center;
 	border-radius: 5px;
 	outline: none;
 	font-weight: 700;
 	color: #fff;
 }

 .dimLayer {
 	display: block;
 	width: 100%;
 	background-color: rgba(0, 0, 0, 0.3);
 	position: fixed;
 	left: 0;
 	top: 0px;
 	margin: 0;
 	padding: 0;
 	z-index: 9998;
 }

 .modal {
 	width: 400px;
 	height: 230px;
 	border-radius: 10px;
 	box-sizing: border-box;
 	text-align: center;
 }

 .modal.modalBody {
 	margin-top: 150px;
 	padding: 80px 24px;
 }

 .modal-section {
 	background: #ffffff;
 	border-radius: 10px;
 	border: 1px solid #dedede;
 	box-sizing: border-box;
 	box-shadow: 5px 5px 3px 0px rgba(221, 221, 221, 0.8);
 	display: none;
 	position: absolute;
 	top: 40%;
 	left: 45%;
 	-webkit-transform: translate(-50%, -50%);
 	-ms-transform: translate(-50%, -50%);
 	-moz-transform: translate(-50%, -50%);
 	-o-transform: translate(-50%, -50%);
 	transform: translate(-50%, -50%);
 	display: none;
 	z-index: 9999;
 	overflow: hidden;
 }

 .topHeader {
 	background-color: #3498db;
 	width: 100%;
 	height: 35px;
 	position: relative;
 }

 .close-btn {
 	color: #fff;
 	font-size: 30px;
 	font-weight: 600;
 	float: right;
 	cursor: pointer;
 	padding: 0 8px;
 	background: none;
 	border: none;
 }

 .menu_msg {
 	font-size: 18px;
 	font-weight: 700;
 }

 .enroll_box p {
 	padding: 45px 0;
 	
 }

 .gray_btn {
 	width: 80px;
 	background: #5e5e5e;
 	color: #fff;
 	height: 36px;
 	line-height: 36px;
 	transition: 0.5s;
 	font-size: 17px;
 }

 .blue_btn {
 	width: 80px;
 	background: #3498db;
 	height: 36px;
 	line-height: 36px;
 	transition: 0.5s;
 	font-size: 17px;
 	border: none;
 }