    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

header {
	margin-top: 30px;
	margin-left: 30px;
}
/* 글자앞 |  */
.hline{
	margin-left: 10px;
	border-left: 5px solid #447294;
}
	h3{
		margin-left : 10px;
	}

/* 필수입력란 고정으로 색지정 */
.de_red{
	border: 2px solid #ff0000;
}

 .container {
  	width: 90%;
   	margin: 30px auto;
  	border: 1px solid #5e5e5e;
  	border-radius: 5px;
  	padding: 20px;
  	
}

    .section {
      border: 1px solid gray;
      border-radius: 5px;
      margin: 10px;
      padding: 10px;
      position: relative;
    }
	.b_se{
		text-align: right;
	}
    .section h3 {
      text-align: center;
    }

    .section input, .section select {
      display: block;
      width: 80%;
      
    }

    .table {
      width: 100%;
      border-collapse: collapse;
    }

    .table th, .table td {
      border: 1px solid gray;
      padding: 5px;
      text-align: center;
    }


    .left {
      float: left;
      width: 50%;
      height: 45%;
    }

    .right {
      float: right;
      width: 50%;
      height: 45%;
    }

    .clear {
      clear: both;
    }

    .label {
      	display: block;
    width: 100%;
    margin-bottom: 10px;
     
    }
/* 각 세션 세부설정 */
    .left .section .label,
    .right .section .label {
      display: inline-block;
      width: 35%; 
      margin: 5px;
      text-align: left;
    }

    .left .section input,
    .right .section input,
    .left .section select,
    .right .section select,
    .left .section textarea,
    .right .section textarea,
    .left .section .checkbox,
    .right .section .checkbox {
      display: inline-block;
      width: 60%;
      height: 40px;
      border-radius: 5px;
      text-align: right;
    }
	
	.left .section .label{
		margin: 20px 0;
	}
	.section[name="r_section"] .label{
		margin: 15px 0;
	}
	.section[name="r_section"] .input{

		height: 35px;
	}


/* 패턴정의부분 */
	.section3 {
    background-color: #fff;
    padding: 10px;
    margin : 10px;
    border: 1px solid gray;
    border-radius: 5px;
	text-align : left;
	height: 45%;
}


.b_top {
    display: flex;
    justify-content: space-between;
}

.label1, .label2, .label3, .label4 {
    margin-bottom: 10px;
}

.secT , .numT{
	width: 30px;
	height:30px;
	border-radius:5px;
	text-align: center;
	margin: 0px 10px;
}


section3 .b_se {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

section3 .label h3 p{
	border-bottom:1px solid #5e5e5e;
	
}

.pattern {
	padding:5px;
	margin:5px 0;
	width:100%;
}
.label3,
.label4 {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
}

.label3 span{
	text-align: center;
	
}
.label4 {
	
    margin-left: 70px; /* Adjust the margin as needed */
}
.label4 input{
	height:30px;
	width:70%;
}
    .button1, .button2 {
      display: inline-block;
      width: 90px;
      height: 40px;
      margin: 10px;
      padding: 10px;
      border-radius: 5px;
      color: white;
      cursor: pointer;
    }
    .button1{
		background-color:#3498db;
	}
	.button2{
		background-color:#5e5e5e;
	}

.contentT {
	width: 100%;
	height: 130px;
	border: 1px solid #5e5e5e;
	padding: 10px;
	border-radius:5px;
	overflow: scroll;
	
}
.contentT span{
	display:block;
	
}
h8 {
	margin:5px 0px;
}

