* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
}

body {
	margin: 0;
	color: #444;
	font: 16px "맑은 고딕", sans-serif;
	font-weight: 700;
	width: 100%;
	height: 100%;
}
.header p{
	font-size: 50px;
	color: #339900;
}
.header p:hover{
	font-size: 50px;
	color: #CC0033;
}
/* 헤더 */
.header {
	background-color: #447294;
	height: 7%;
}

.logo {
	float: left;
	height: 95%;
	padding: 0 5px;
	vertical-align: middle;
}

.logout {
	background-image: url('/img/logout.png');
	float: right;
	width: 40px;
	height: 50px;
	margin-top: 7px;
	margin-right: 10px;
}
.logout:hover{
	background-image: url('/img/Wlogout.png');
	float: right;
	width: 40px;
	height: 50px;
}

/* 메뉴 */
.sidebar {
	background-color: #dddddd;
	height: 93%;
	width: 15%;
	float: left;
	display: flex;
	flex-direction: column;
}
.menu-box{
	width: 100%;
	height: 100%;;
}
.icon {
	width: 30%;
	height: 30%;
	cursor: pointer;
	background-size: cover;
}

.menu-item {
	padding: 5% 15%;
	color: #214d6d;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	display: flex;
	/* 아이콘과 텍스트를 한 줄에 표시 */
	align-items: center;
	/* 세로 중앙 정렬 */
	position: relative;
	line-height: 70px;
	border-bottom: 2px solid #e1e1e1;
}
.menu-item p {
	margin-left: 3px;
	letter-spacing: 3px;
}

/* 마우스 오버 효과 */
.menu-item:hover {
    background-color:   #4aabed; /* 마우스 오버 시 배경색 */
    color: #fff; /* 마우스 오버 시 글자색 */
}

/* 각메뉴별 아이콘 */
#homeIcon{
	background-image: url('/img/homeicon.png'); 
	width: 35px; 
	height: 35px;
	margin-right: 25%;
}
#policyIcon{
	background-image: url('/img/policyicon.png');
	width: 30px; 
	height: 30px;
	margin-right: 5%;
}
#logIcon{
	background-image: url('/img/logicon.png'); 
	width: 30px; 
	height: 30px;
	margin-right: 5%;
}
#settingsIcon{
	background-image: url('/img/settingsicon.png'); 
	width: 30px; 
	height: 30px;
	margin-right: 5%;
}

/* 각메뉴별 호버시 바뀌는 아이콘 */
.menu-item:hover #homeIcon{
	background-image: url('/img/hover_homeicon.png'); 
	width: 35px; 
	height: 35px;
}
.menu-item:hover #policyIcon{
	background-image: url('/img/hover_policyicon.png');
	width: 30px; 
	height: 30px;
}
.menu-item:hover #logIcon{
	background-image: url('/img/hover_logicon.png'); 
	width: 30px; 
	height: 30px;
}
.menu-item:hover #settingsIcon{
	background-image: url('/img/hover_settingsicon.png'); 
	width: 30px; 
	height: 30px;
}

/* 메뉴 선택시 옵션 */
.menu-item.selected {
	background-color: #4aabed;
	color: #fff;
}

.menu-item.selected #homeIcon{
	background-image: url('/img/hover_homeicon.png'); 
	width: 35px; 
	height: 35px;
}
.menu-item.selected #policyIcon{
	background-image: url('/img/hover_policyicon.png');
	width: 30px; 
	height: 30px;
}
.menu-item.selected #logIcon{
	background-image: url('/img/hover_logicon.png'); 
	width: 30px; 
	height: 30px;
}
.menu-item.selected #settingsIcon{
	background-image: url('/img/hover_settingsicon.png'); 
	width: 30px; 
	height: 30px;
}


/* 컨텐츠 화면 iframe  */
.content {
	background-color: white;
	height: 92%;
	width: 85%;
	float: right;
}

.content iframe {
	width: 100%;
	height: 100%;
	border: none;
}