@charset "UTF-8";

body {
   padding: 30px;
}

header {
   padding: 10px;
}

/* 제목앞에 파란색 라인 */
.hline {
   border-left: 5px solid #447294;
}

h1 {
   margin-left: 10px;
}

/* 검색된로그수 위치 */
.log-count{
	float: right;
	margin-bottom: 10px;
}

/* 필터 */
.log-list-filter {
   border: 3px solid #e0e0e0;
   border-radius: 5px;
   padding: 15px;
   height: 25%;
   width: 100%;
   overflow : hidden;
   flex-direction: row;
   box-sizing: border-box;
   font-size: 16px;
   font-weight: bold;
}

h2 {
	
}

.log-list-filter form{
   display: flex; 
}

.lft {   
    width: 30%;
    box-sizing: border-box;   
}

.cen {    
    width: 30%;   
    box-sizing: border-box;   
}

.rft {
    width: 40%;  
    box-sizing: border-box;  
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.input-group label {
  margin-right: 10px;
  width: 100px;
  margin-bottom: 5px;
}

.input-group input {
  width:  50px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.lft .input-group input { 
	font-size: 16px;
  	width: 200px;
  	margin-bottom: 5px;
}

.cen .input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.cen .input-group label {
  width: 80px;
  margin-right: 5px;
  font-size: 16px;
  margin-bottom: 5px;
}

.cen .input-group input {
  font-size: 16px;
  padding: 2px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 200px;
  margin-bottom: 5px;
}

.cen .input-group select {
  font-size: 16px;
  padding: 2px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 200px;
  margin-bottom: 5px;
}

.rft .input-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: left;
  margin-bottom: 5px;
}

.rft .input-group label { 
  font-size: 16px;
  width: 120px;
  margin-bottom: 5px;  
}

.rft .input-group input {
  font-size: 16px;
  padding: 2px;
  border-radius: 3px;
  border: 1px solid #ccc;  
  margin-right: 15px;
  width: 95px;
  margin-bottom: 5px;
}

.custom-input-group {
   width: 180px;
   height: 30px;
   margin-left: 10px;
   border-radius: 5px;
   border: 1px solid #ccc;
}

.datepicker {
   display: flex;
   flex-direction: row;
}

.datepicker label {
   margin-right: 10px;
}

.button-group {
	display: flex;
	justify-content: right; 
	padding: 9px;
}

.button-group label {
   margin: 0px 15px;   
}

.button2 {
   width: 80px;
   height: 40px;
   border: none;
   color: white;
   border-radius: 5px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 13px;
   font-weight: bold;
   margin: 0px 5px;
   cursor: pointer;   
}

.applyB {
   background-color: #3498db;
}

.resetB {
   margin-right: 15px;
   background-color: #5e5e5e;
}

/* 로그테이블 */
.logListBox {
    width: 100%;
    margin-top: 15px;
    background-color: #f9f9f9;
    height: 65%;
    /* 높이 설정 */
    border: 3px solid #e0e0e0;
}

.logListBox table {
   border-collapse: collapse;
   height: 100%;
   width: 100%;
   text-align: center;
}

thead th {
   text-align: center;
   position: sticky;
   top: 0;
   border-top: 0;
   background-clip: padding-box;
   background-color: #e0e0e0;
}

.logListBox th,
.logListBox td {
   border-bottom: 1px solid #ccc;
   padding: 4px;
   text-align: center;
}

.logListBox tr:nth-child(even) {
   background-color: #f2f2f2;
}

/* 로그테이블 패킷,상세보기 버튼 */
.infoBt {
   width: 60px;
   height: 30px;
   border: none;
   color: white;
   border-radius: 5px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 13px;
   font-weight: bond;
   margin: 0px 5px;
   cursor: pointer;
   background-color: #3498db;
}

/* 페이지 뒤로 가기, 앞으로 가기 버튼 */
.prevB {
   width: 60px;
   height: 30px;
   border: none;
   color: white;
   border-radius: 5px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px;
   font-weight: bond;
   margin: 5px 5px;
   cursor: pointer;
   background-color: #5e5e5e;
}

.nextB {
   width: 60px;
   height: 30px;
   border: none;
   color: white;
   border-radius: 5px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px;
   font-weight: bond;
   margin: 5px 5px;
   cursor: pointer;
   background-color: #3498db;
}

/* 로그바텀 하단 페이지버튼위치*/
.logBottom {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}


