<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="chrome">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sentinel</title>
	
	<style>
	    * {
			box-sizing: border-box;
	      	margin: 0;
	      	padding: 0;
	    }
	
		body {
			height: 35vh; /*vh,vw각환경 컴퓨터에 맞는 꽉찬화면 설정*/
		    width: 100vw;
		    background-image: url('/img/testHome.png');
		    background-repeat : no-repeat;
		    background-size : cover;
		}
	</style>
	
</head>
<body>
	<div></div>
</body>
</html>