<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="chrome">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sentinel</title>
	<link rel="stylesheet" href="/css/loginStyle.css">
</head>

<body>
	<form action="/admin" method="post">
		<div class="login-screen">
			<div class="logo"></div>
			<div class="input-field">
				<input type="text" name="id" placeholder="아이디">
			</div>
			<div class="input-field">
				<input type="password" name="password" placeholder="비밀번호">
			</div>
			<button class="login-button">로그인</button>
	</form>
</body>

</html>