<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="chrome">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0 , minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- 나눔고딕 글자체 사용 -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Nanum+Gothic&display=swap"
		rel="stylesheet">
	<!-- 파비콘 -->
	<link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/js/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<!-- 스타일시트 -->
	<link rel="stylesheet" href="/css/commonStyle.css">
	<link rel="stylesheet" href="/css/menuStyle.css">

	<title>Sentinel</title>
</head>

<body>
	<div class="header">
		<a href="#">
			<img src="/img/logo.png" alt="로고" class="logo" onclick="loadContent('/admin/home')">
		</a>
		<a href="/logout">
			<img src="/img/logout.png" alt="로그아웃" class="logout">
		</a>
	</div>
	<div class="sidebar">
		<div class="menubox">
			<a href="#" class="menu-item" onclick="loadContent('/admin/home')">
				<div class="icon" style="background-image: url('/img/home.png');"></div>
				홈
			</a>
		</div>
		<div class="menubox">
			<a href="#" class="menu-item" onclick="loadContent('/admin/menu/readPolicy')">
				<div class="icon" style="background-image: url('/img/policy.png');"></div>
				정책 구성
			</a>
		</div>
		<div class="menubox">
			<a href="#" class="menu-item" onclick="loadContent('/admin/menu/readLogs')">
				<div class="icon" style="background-image: url('/img/logs.png');"></div>
				로그 조회
			</a>
		</div>
		<div class="menubox">
			<a href="#" class="menu-item" onclick="loadContent('/admin/menu/setup')">
				<div class="icon" style="background-image: url('/img/settings.png');"></div>
				설정
			</a>
		</div>
	</div>

	<div class="content" id="dynamicContent">
		<iframe id="contentFrame" src=""></iframe>
	</div>

	<script>
		function loadContent(url) {
			document.getElementById("contentFrame").src = url;
		}
		
		window.onload = function () {
			loadContent('/admin/home');
		};
	</script>
</body>

</html>