<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="chrome">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/readLogsStyle.css">
	
	<!-- Datepicker 사용을 위한 jQuery, jQuery-UI 라이브러리 추가 -->
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/i18n/datepicker-ko.min.js"></script> <!-- 한국어 지역 설정 추가 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/i18n/jquery-ui-timepicker-ko.js"></script> <!-- Timepicker 한국어 지역 설정 추가 -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css">

	<!-- Datepicker 적용 스크립트 -->
	<script>
		$.datepicker.setDefaults({
			showButtonPanel: true,
			controlType: 'select',
		    closeText: "적용",
		    currentText: "오늘",
		    prevText: '이전 달',
		    nextText: '다음 달',
		    monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
		    monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
		    dayNames: ['일', '월', '화', '수', '목', '금', '토'],
		    dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
		    dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
		    weekHeader: "주",
		    yearSuffix: '년'
	    });
	    
	    $(function() {
        	$("#startDate").datepicker({
            	dateFormat: "yy-mm-dd",
           		onSelect: function(selectedDate) {
            		$("#endDate").datepicker("option", "minDate", selectedDate);
        		},
            	onClose: function(selectedDate) {
                	if (new Date(selectedDate) > new Date($("#endDate").val())) {
                    	alert("시작 날짜는 종료 날짜보다 이후일 수 없습니다.");
                    	$("#startDate").datepicker("setDate", $("#endDate").val());
                	}
	          	}
        	});

	        $("#endDate").datepicker({
	            dateFormat: "yy-mm-dd",
	            onSelect: function(selectedDate) {
	                $("#startDate").datepicker("option", "maxDate", selectedDate);
	            },
	            onClose: function(selectedDate) {
	                if (new Date(selectedDate) < new Date($("#startDate").val())) {
	                    alert("종료 날짜는 시작 날짜보다 이전일 수 없습니다.");
	                    $("#endDate").datepicker("setDate", $("#startDate").val());
	                }
	            }
	        });
	        
	        $.timepicker.setDefaults($.timepicker.regional['ko']);
	         
	        $("#startTime, #endTime").timepicker({
	            timeFormat: 'HH:mm:ss',
	            controlType: 'select',
	            closeText: "적용",
		    	currentText: "현재 시각",
	            oneLine: true,
	            timeInput: true,
	            showButtonPanel: true,
	            stepHour: 1,
	            stepMinute: 1,
	            stepSecond: 1,
	        });
	         
	        $("#startTime").change(function() {
	            if ($("#startDate").val() == $("#endDate").val() && $("#startTime").val() > $("#endTime").val()) {
	                alert("시작 시간은 종료 시간보다 이후일 수 없습니다");
	                $("#startTime").val($("#endTime").val());
	            }
	        });
	        
	        $("#endTime").change(function() {
	            if ($("#startDate").val() == $("#endDate").val() && $("#endTime").val() < $("#startTime").val()) {
	                alert("종료 시간은 시작 시간보다 이전일 수 없습니다");
	                $("#endTime").val($("#startTime").val());
	            }
	        });
	    });
	    
	    function isValidIp(ip) {
			var pattern = new RegExp(/^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/);
			return pattern.test(ip) || ip === "" || ip === "0" || ip.toLowerCase() === "any";
		}
		
		function validateForm() {
			var ip = document.getElementById("ip").value;
			
			if (!isValidIp(ip)) {
				alert("입력된 IP가 유효한 IP 주소 형식이 아닙니다.");
				return false;
			} else {
				return true;
			}
		}
		
		$(function() {
		    $('form').on('submit', function(e) {
		        e.preventDefault();
		        $.ajax({
		            url: '/admin/menu/readLogs/api/getLogData',
		            method: 'GET',
		            data: $(this).serialize(),
		            success: function(data) {
					    $('#logList').empty();
					    data.forEach(function(log) {
					        var li = $('<li>');
					        li.append($('<span>').text(log.log_index + ' '));
					        li.append($('<span>').text(log.timeFormatted + ' '));
					        li.append($('<span>').text(log.detected_name + ' '));
					        li.append($('<span>').text(log.level + ' '));
					        li.append($('<span>').text(log.action + ' '));
					        li.append($('<span>').text(log.src_ip + ' '));
					        $('#logList').append(li);
					    });
					}
		        });
		    });
		});
		
		function resetFilters() {
			var today = new Date().toISOString().slice(0, 10);
			$("#ip").val('any');
	        $("#level").val('-1');
	        $("#action").val('-1');
	        $("#startDate").val(today);
	        $("#startTime").val('00:00:00');
	        $("#endDate").val(today);
	        $("#endTime").val('23:59:59');
	        return false;
		}
	</script>
	
	<title>Sentinel</title>
</head>

<body>
	<h2>로그 리스트</h2>

	<form th:action="@{/admin/menu/readLogs}" method="get" onsubmit="return validateForm()">
	    <label for="ip">IP:</label>
		<input type="text" id="ip" name="ip" th:attr="value=${ip!=null}?${ip}:'any'">
	
	    <br>
	
	    <label for="level">위험등급:</label>
	    <select id="level" name="level">
	        <option value="-1" th:selected="${level == -1}">전체</option>
	        <option value="0" th:selected="${level == 0}">하</option>
	        <option value="1" th:selected="${level == 1}">중</option>
	        <option value="2" th:selected="${level == 2}">상</option>
	        <option value="3" th:selected="${level == 3}">최상</option>
	    </select>
	
	    <label for="action">동작:</label>
	    <select id="action" name="action">
	        <option value="-1" th:selected="${action == -1}">전체</option>
	        <option value="0" th:selected="${action == 0}">탐지</option>
	        <option value="1" th:selected="${action == 1}">탐지+경고</option>
	        <option value="2" th:selected="${action == 2}">탐지+차단</option>
	        <option value="3" th:selected="${action == 3}">탐지+차단+경고</option>
	    </select>
	
	    <br>
	
	    <label for="startDate">시작 지점 날짜:</label>
		<input type="text" id="startDate" name="startDate" class="datepicker" th:attr="value=${startDate!=null}?${startDate}:${today}">
		<input type="text" id="startTime" name="startTime" class="timepicker" th:attr="value=${startTime!=null}?${startTime}:'00:00:00'">
		
		<label for="endDate">종료 지점 날짜:</label>
		<input type="text" id="endDate" name="endDate" class="datepicker" th:attr="value=${endDate!=null}?${endDate}:${today}">
		<input type="text" id="endTime" name="endTime" class="timepicker" th:attr="value=${endTime!=null}?${endTime}:'23:59:59'">
		
	    <br>
	    
	    <button class="button2" type="submit">필터 적용</button>
	    <button class="button2" type="button" onclick="resetFilters()">필터 초기화</button>
	</form>
	
	<ul id="logList">
		<!-- ul태그 삭제 금지 -->
		<!-- 실제 동적 리스트 출력 부분 -->
	</ul>
</body>

</html>