<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="chrome">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
	    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

	header {
		margin-top: 30px;
		margin-left: 30px;
	}
	
	/* 글자앞 |  */
	.hline{
		margin-left: 10px;
		border-left: 5px solid #447294;
	}
	h3{
		margin-left : 10px;
	}
	</style>
	<title>Sentinel</title>
</head>

<body>
	<div>
		<img src="/img/testHome.jpg" alt="테스트화면" class="th">
	</div>

</body>

</html>