<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="chrome">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/commonStyle.css">
	<link rel="stylesheet" href="/css/viewLogsStyle.css">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/json/manifest.json">

	<title>Sentinel</title>
</head>

<body>
	<div class="header">
		<div class="hline1">
			<h2>로그</h2>
		</div>
	</div>
	<div class="log_InfoBox">
		<div class="hline1">
			<h3>패킷정보</h3>
		</div>
		<div class="packetAllBox">
			<div id="packetHeader" class="left_Headers">
				<div class="hline">
					<h3>Ethernet Header</h3>
				</div>
				<p th:each="entry : ${packetHeader[0]}" th:text="${entry.key} + ': ' + ${entry.value}"></p>
				
				<div class="hline" style="margin-top: 10px;">
					<h3>IP Header</h3>
				</div>
				<p th:each="entry : ${packetHeader[1]}" th:text="${entry.key} + ': ' + ${entry.value}"></p>

				<th:block th:if="${#lists.size(packetHeader) > 2}">
					<div class="hline" style="margin-top: 10px;">
						<h3>TCP Header</h3>
					</div>
					<p th:each="entry : ${packetHeader[2]}" th:text="${entry.key} + ': ' + ${entry.value}"></p>
				</th:block>
			</div>

			<div class="ringht_packetInfo">
				<div class="hline">
					<h3>패킷 상세 정보</h3>
				</div>
				<div class="packetInfo_Box">
					<div class="left_packetInfo">
						<th>
							<span th:text="${binaryData}"></span>
						</th>
					</div>
					<div class="right_packetInfo">
						<th>
							<span th:text="${asciiData}"></span>
						</th>
					</div>
				</div>
			</div>
		</div>
		<div class="attackInfo">
			<div class="attackHeader">
				<h3>공격정보</h3>
			</div>
			<div class="attackBody">
				<table>
				    <tr>
				        <td class="w15"><span>탐지명 :</span></td>
				        <td class="w85" colspan="3"><span th:text="${policyDetectedName} ?: '정보 없음'"></span></td>
				    </tr>
				    <tr>
				        <td class="w15"><span>위험등급 :</span></td>
				        <td class="w35">
				            <span th:switch="${policyLevel}">
				                <span th:case="0">하</span>
				                <span th:case="1">중</span>
				                <span th:case="2">상</span>
				                <span th:case="3">최상</span>
				                <span th:case="*">정보 없음</span>
				            </span>
				        </td>
				        <td class="w15"><span>처리방법 :</span></td>
				        <td class="w35">
				            <span th:switch="${policyAction}">
				                <span th:case="0">로그</span>
				                <span th:case="1">로그+차단</span>
				                <span th:case="*">정보 없음</span>
				            </span>
				        </td>
				    </tr>
				    <tr>
				        <td colspan="4"><span>내용 :</span></td>
				    </tr>
				    <tr class="detailTextB">
				        <td class="h40" colspan="4">
				            <span th:text="${policyDetail} ?: '해당 정책의 상세 정보가 없습니다.'"></span>
				        </td>
				    </tr>
				</table>
			</div>
		</div>
		<div class="buttonbox">
			<button class="btn" onclick="cancel()">돌아가기</button>
		</div>
	</div>
	<script>
		function cancel() {
			window.history.back();
		}
	</script>
</body>

</html>