<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="chrome">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/commonStyle.css">
	<link rel="stylesheet" href="/css/viewLogs.css">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/json/manifest.json">
	
	<title>Sentinel</title>
</head>

<body>
	<div class="hline">
		<h3>패킷 상세 정보</h3>
	</div>
	<div>
		<th>
			<span th:text="${binaryData}"></span>
		</th>
	</div>
	<div id="packetHeader">
		<div class="hline">
        	<h3>Ethernet Header</h3>
		</div>
        <p th:each="entry : ${packetHeader[0]}" th:text="${entry.key} + ': ' + ${entry.value}"></p>
        <div class="hline">
        	<h3>IP Header</h3>
		</div>
        <p th:each="entry : ${packetHeader[1]}" th:text="${entry.key} + ': ' + ${entry.value}"></p>
        <div class="hline">
       		<h3>TCP Header</h3>
		</div>
        <p th:each="entry : ${packetHeader[2]}" th:text="${entry.key} + ': ' + ${entry.value}"></p>
    </div>
    <div class="buttonbox">
		<button class="btn" onclick="cancel()">돌아가기</button>
	</div>
	
	<script>
		function cancel() {
			window.history.back();
		}
	</script>
</body>

</html>